
svg.icon 
{
	display: inline-block;
	fill: currentColor;
	width: 1em;
	height: 1em;
	position: relative; /* Align more nicely with capital letters */
	top: -0.0625em;
	vertical-align: middle;
}

.svg-fallback 
{
	display: none;

	.no-svg &
	{
		display: inline-block;
	}
}

.svg-sprite
{
	position: absolute; 
	width: 0; 
	height: 0; 
	overflow: hidden;
}
